@model IEnumerable<PND_WEB.Models.Kindofpackage>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách", SubTitle = "Danh sách chứa các thông tin liên quan" })


<div class="card card-default">
    <div class="card-body">
        <p>
            <button class="btn btn-primary btn-xs" id="create">Create</button>
        </p>
        
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Code)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.PackageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PackagesDescription)
                    </th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <button class="btn btn-success btn-xs edit-btn" data-id=@item.Code><i class="fa fa-edit"></i></button>
                            <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackagesDescription)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Modal {
    <div id="get_modal"></div>
   
    @{
        
        await Html.RenderPartialAsync("_Create",new Kindofpackage() );
    }

}



@section Scripts {
    <script src="~/js/components/Kindofpackage.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    
}