@model PND_WEB.Models.TblConth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblConth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hbl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hbl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsDepcription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsDepcription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
