@model PND_WEB.ViewModels.ContainerViewModel

@{
    ViewData["Title"] = "Container";

}
@await Component.InvokeAsync("HblHeader", new { Title = "Container", SubTitle = "Container", Hbl_ID = Model.HBL_ID })


<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About Container: @Model.HBL_ID</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Hbls" asp-action="Details" asp-route-id=@Model.HBL_ID>Chi tiết HBL</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active">Container Info</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.HBL_ID>Hóa đơn mua</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.HBL_ID>Hóa đơn bán</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.HBL_ID>Cược công</a>
                        </li>


                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <p>
                            <a asp-action="Create" asp-route-id=@Model.HBL_ID class="btn btn-primary btn-xs">Create New</a>
                        </p>
                        <table class="table table-striped my-4 w-100" id="datatable1">
                            <thead class="table-primary">
                                <tr>
                                    <th>Action</th>
                           
                                    <th>@Html.DisplayNameFor(model => model.containers[0].ContNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.containers[0].SealNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.containers[0].ContType)</th>
                                 
                                    <th>@Html.DisplayNameFor(model => model.containers[0].ContQuantity)</th>
                                   
                                    <th>@Html.DisplayNameFor(model => model.containers[0].GrossWeight)</th>
                                    <th>@Html.DisplayNameFor(model => model.containers[0].Cmb)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.containers[0].GoodsQuantity)

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.containers[0].GoodsKind)
                                    </th>
    
                                    <th>@Html.DisplayNameFor(model => model.containers[0].GoodsDepcription)</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.containers)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>@item.ContNo</td>
                                        <td>@item.SealNo</td>
                                        <td>@item.ContType</td>
                                        <td>@item.ContQuantity</td>
                                        <td>@item.GrossWeight</td>
                                        <td>@item.Cmb</td>
                                        <td>@item.GoodsQuantity</td>
                                        <td>@item.GoodsKind</td>
                                        <td>@item.GoodsDepcription</td>

                                        
                                    </tr>
                                }
                            
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total:</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.totalGrossWeight</td>
                                    <td>@Model.totalCbm</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>

