@model IEnumerable<PND_WEB.Models.Carrier>

@{
    ViewData["Title"] = "Index";
}




@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Carrier", SubTitle = "Danh sách thông tin hãng tàu" })

<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100" id="datatable3">
            <thead class="table-primary">
                <tr>
                    
                    <th data-priority="1">
                        Carrier Code
                    </th>
                    <th>
                        Carrier Name
                    </th>
                    <th>
                        Carrier Name không dấu
                    </th>
                    <th>
                       Địa chỉ
                    </th>
                    <th>
                        Ghi chú
                    </th>
                    <th>Action</th>
                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CarrierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarrierNamekd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarierAdd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td class ="col-1 text-nowrap" style="text-align: right; padding-right: 20px">
                            <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-primary">Edit</a>

                        @* <a asp-action="Details" asp-route-id="@item.Code">Details</a> | *@
                            <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


