@model PND_WEB.ViewModels.AgentViewModel

@{
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Chi tiết thông tin đại lý", SubTitle = "Chi tiết thông tin đại lý" })

<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg bg-info">About agent: @Model.agent.Code</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Agent" asp-action="Details" asp-route-id=@Model.agent.Code>Agent Detail</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active">Agent Action Manager</a>
                        </li>

                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">

                        <p>
                            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
                        </p>

                        <table class="table table-striped my-4 w-100" id="datatable3">
                            <thead class="table-primary">
                                <tr>
                                    <th>Action</th>
                                    <th data-priority="1">@Html.DisplayNameFor(model => model.agentActions[0].Id)</th>
                                    <th>@Html.DisplayNameFor(model => model.agentActions[0].PersonInCharge)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.agentActions[0].PhoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.agentActions[0].Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.agentActions[0].Note)
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.agentActions)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PersonInCharge)

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>





