@model IEnumerable<PND_WEB.Models.Agent>

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Agent", SubTitle = "Danh sách thông tin đại lý" })

<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>

        <table class="table table-striped my-4 w-100" id="datatable3">
            <thead class="table-primary">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Code)</th>
                    <th>@Html.DisplayNameFor(model => model.AgentName)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgentNamekd)
                        
                    </th>
               
                     <th>
                       @Html.DisplayNameFor(model => model.AgentAdd)
                    </th>
                    <th>
                       @Html.DisplayNameFor(model => model.Note)
                    </th>
                    
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
             <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AgentName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AgentNamekd)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AgentAdd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                
        </tr>
}
    </tbody>
</table>
</div>
</div>