@model PND_WEB.ViewModels.TuttViewModel2

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Tạm ứng thanh toán", SubTitle = "Tạm ứng và thanh toán tạm ứng cho nhân viên công ty" })

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">Đề nghị cần duyệt</div>
            <div class="card-body">
                <table class="table table-striped my-4 w-100" id="datatable3">
                    <thead class="table-primary">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().SoTutt)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().NhanvienTutt)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().NoiDung)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ngay)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ketoan)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ceo)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().GhiChu)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tuttcheck)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.SoTutt)</td>
                                <td>@Html.DisplayFor(modelItem => item.NhanvienTutt)</td>
                                <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ngay)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ketoan)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ceo)</td>
                                <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SoTutt">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.SoTutt">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.SoTutt">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
