@model PND_WEB.ViewModels.TuttViewModel

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Tạm ứng thanh toán", SubTitle = "Tạm ứng và thanh toán tạm ứng cho nhân viên công ty" })

<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">Chưa đề nghị duyệt</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active">Tạm ứng / Thanh toán tạm ứng</a>
                        </li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <p>
                            <a asp-action="Create" class="btn btn-primary btn-xs">Tạo tạm ứng mới</a>
                        </p>

                        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
                            <thead class="">
                                <tr>
                                    <th>Action</th>
                                    <th>@Html.DisplayNameFor(model => model.tutt.FirstOrDefault().SoTutt)</th>
                                    <th>@Html.DisplayNameFor(model => model.tutt.FirstOrDefault().NhanvienTutt)</th>
                                    <th>Tạm ứng / Thanh toán</th>
                                    <th>@Html.DisplayNameFor(model => model.tutt.FirstOrDefault().NoiDung)</th>
                                    <th>@Html.DisplayNameFor(model => model.tutt.FirstOrDefault().Ngay)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.tutt)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.SoTutt" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.SoTutt" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.SoTutt"> @Html.DisplayFor(modelItem => item.SoTutt) </a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.NhanvienTutt)</td>
                                        <td>
                                            @(item.Tu == true ? "Tạm ứng" : (item.Tt == true ? "Thanh toán" : ""))
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Ngay)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">Đã đề nghị duyệt</div>
            <div class="card-body">

                <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
                    <thead class="">
                        <tr>
                            <th>Action</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().SoTutt)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().NhanvienTutt)</th>
                            <th>Tạm ứng / Thanh toán</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().NoiDung)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ngay)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ketoan)</th>
                            <th>@Html.DisplayNameFor(model => model.tuttcheck.FirstOrDefault().Ceo)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tuttcheck)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SoTutt" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.SoTutt" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.SoTutt"> @Html.DisplayFor(modelItem => item.SoTutt) </a>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.NhanvienTutt)</td>
                                <td>
                                    @(item.Tu == true ? "Tạm ứng" : (item.Tt == true ? "Thanh toán" : ""))
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ngay)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ketoan)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ceo)</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END card-->
    </div>
</div>
