@using static PND_WEB.ViewComponents.BreadcrumbViewComponent
@model PND_WEB.Models.TblHbl

@{
    ViewData["Title"] = "Delete HBL";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa HBL", SubTitle = "Xóa HBL" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách job", Controller="Job",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách HBL", Controller="Hbls",Action="Index",Parameter=Model.RequestId },
    new BreadcrumbItem { Title = "Xóa HBL", Controller="",Action="Delete",Parameter=""}
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Xác nhận xóa HBL</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Bạn có chắc chắn muốn xóa HBL này? Hành động này không thể hoàn tác.</p>
                </div>
             
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w-25">@Html.DisplayNameFor(model => model.Hbl)</th>
                            <td>@Html.DisplayFor(model => model.Hbl)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IssueDateH)</th>
                            <td>@Html.DisplayFor(model => model.IssueDateH)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.OnBoardDateH)</th>
                            <td>@Html.DisplayFor(model => model.OnBoardDateH)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ShipperNavigation)</th>
                            <td>@Html.DisplayFor(model => model.ShipperNavigation.Shipper)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CneeNavigation)</th>
                            <td>@Html.DisplayFor(model => model.CneeNavigation.Cnee)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NotifyParty)</th>
                            <td>@Html.DisplayFor(model => model.NotifyParty)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.BlType)</th>
                            <td>@Html.DisplayFor(model => model.BlType)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NomFree)</th>
                            <td>@Html.DisplayFor(model => model.NomFree)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.GoodsDesciption)</th>
                            <td>@Html.DisplayFor(model => model.GoodsDesciption)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Request)</th>
                            <td>@Html.DisplayFor(model => model.Request.JobId)</td>
                        </tr>
                    </table>
                </div>

                <form asp-action="Delete" class="mt-4">
                    <input type="hidden" asp-for="Hbl" />
                    <div class="text-right">
                        <button type="submit" class="btn btn-labeled btn-danger btn-xs">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>
                            Delete
                        </button>
                        <a asp-action="Index" asp-route-id="@Model.RequestId" class="btn btn-labeled btn-secondary btn-xs">
                            <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
                            Back To List
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
