@model PND_WEB.Models.TblHbl

@{
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("HblHeader", new { Title = "HBL", SubTitle = "Chi tiết HBL",Hbl_ID=Model.Hbl })

<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About HBL: @Model.Hbl</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab">Chi tiết HBL</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Container" asp-action="Index" asp-route-id=@Model.Hbl>List HBL</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.Hbl>Hóa đơn mua</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.Hbl>Hóa đơn bán</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.Hbl>Cược công</a>
                        </li>

                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        
                        <div>

                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IssuePlaceH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IssuePlaceH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IssueDateH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IssueDateH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.OnBoardDateH)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.OnBoardDateH)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NotifyParty)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NotifyParty)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.BlType)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.BlType)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NomFree)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NomFree)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ContSealNo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ContSealNo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Volume)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Volume)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.GoodsDesciption)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.GoodsDesciption)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.GrossWeight)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.GrossWeight)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Tonnage)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Tonnage)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CustomsDeclarationNo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CustomsDeclarationNo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.InvoiceNo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.InvoiceNo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.NumberofOrigins)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.NumberofOrigins)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FreightPayable)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FreightPayable)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.MarkNos)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.MarkNos)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FreightCharge)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FreightCharge)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Prepaid)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Prepaid)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Collect)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Collect)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.SiNo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.SiNo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Pic)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Pic)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DoDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DoDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PicPhone)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PicPhone)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CneeNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CneeNavigation.Cnee)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Customer)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Customer.CustomerId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Request)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Request.JobId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ShipperNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ShipperNavigation.Shipper)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model?.Hbl">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>