@model PND_WEB.Models.TblHbl

@{
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("HblHeader", new { Title = "HBL", SubTitle = "Chi tiết HBL", Hbl_ID = Model.Hbl, Job_ID = Model.RequestId })

<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About HBL: @Model.Hbl</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    @await Component.InvokeAsync("HblNavTab", new { HBL_ID = Model.Hbl, isLGT = ViewBag.GoodType == "LGT" })
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead bb">HBL Information</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Hbl):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Hbl</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.IssueDateH):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.IssueDateH?.ToString("dd/MM/yyyy")</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.OnBoardDateH):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.OnBoardDateH?.ToString("dd/MM/yyyy")</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.BlType):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.BlType</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.NomFree):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.NomFree</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.ContSealNo):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.ContSealNo</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.GoodsDesciption):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.GoodsDesciption</strong>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <p class="lead bb">Cargo Details</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Volume):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Volume</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Quantity):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Quantity</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.GrossWeight):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.GrossWeight</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Tonnage):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Tonnage</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.MarkNos):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.MarkNos</strong>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead bb">Partner Information</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.ShipperNavigation):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.ShipperNavigation?.Shipper</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.CneeNavigation):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.CneeNavigation?.Cnee</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.NotifyParty):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.NotifyParty</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Customer):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Customer?.CompanyName</strong>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <p class="lead bb">Additional Information</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.CustomsDeclarationNo):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.CustomsDeclarationNo</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.InvoiceNo):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.InvoiceNo</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.SiNo):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.SiNo</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.DoDate):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.DoDate?.ToString("dd/MM/yyyy")</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.Pic):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.Pic</strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">@Html.DisplayNameFor(model => model.PicPhone):</div>
                                        <div class="col-md-8">
                                            <strong>@Model.PicPhone</strong>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mt-3">
                            <a asp-action="Edit" asp-route-id="@Model?.Hbl" class="btn btn-primary btn-xs">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a asp-action="Index" asp-route-id="@Model?.RequestId" class="btn btn-secondary btn-xs">
                                <i class="fa fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>

@await Component.InvokeAsync("HblProfitFooter", new { hblId = Model.Hbl })


