@using PND_WEB.ViewModels



@model ExportPDFDeliveryOrderVM

@{
    Layout = null;
    DateTime today = DateTime.Now;
    string formattedToday = today.ToString("dddd, MMMM dd, yyyy ");
    double total_GW = 0;
    double total_CBM = 0;


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: 'Times New Roman';
            font-size: 18px;
            margin: 10px;
        }

        .center {
            width: 100%;
            clear: both;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            padding: 6px;
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .left-right {
            width: 100%;
            overflow: hidden;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .left {
            width: 50%;
            float: left;
        }

        .right {
            width: 50%;
            float: right;
        }

        .left2 {
            width: 30%;
            float: left;
        }

        .right2 {
            width: 70%;
            float: right;
        }
    </style>
</head>
<body>
    <div class="left-right">
        <div class="left2">

            @* ảnh chưa đc chuẩn tại chỗ này chưa bt để kiểu gì (k dùng đc link ảo có ~)*@
            <img src="https://localhost:7290/app/img/logo-pnd-export-pdf.jpg" />
        </div>
        <div class="right2">
            <p><strong>PND LOGISTICS TRANSPORT CO., LTD - HAI PHONG HEAD OFFICE</strong></p>
            <strong>Add:</strong> No 24A, Area 15, Dang Hai Ward, Hai An District, Hai Phong City, Vietnam
            <strong>Tel:</strong> +84 225 7303388 <strong>Email:</strong><span style="color: green;"> ceo@pnd-logistics.com</span><br>
            <strong>Website</strong> <span style="color: green;"> http://pnd-logistics.com</span>
            <hr style="border: 3px solid lawngreen" />
        </div>
    </div>


    <div style="text-align:center; color: dimgray">
        <h1 style="margin: 0; padding : 0; color: dimgray">LỆNH GIAO HÀNG</h1>
        <h2 style="margin: 0; padding : 0; color: dimgray">(DELIVERY ORDER)</h2>


        @* chèn thêm các dữ liệu vô những chỗ có x (  ) *@
        <div class="right"><strong style="color: dimgray">Job No :</strong><span style="color:black">  @Model.JobId   </span></div>
        <br />
        <div class="right"><strong style="color: dimgray"></strong> </div>

    </div>
    <br />
    <div>
        @* chèn thêm các dữ liệu vô những chỗ có x ( good type ) *@
        <strong style="color: dimgray"> Kính gửi : HẢI QUAN CẢNG  <span style="color:black">    @Model.POD  </span></strong>
    </div>
    <br />
    <div style="margin-left:240px;">
        <strong style="color: dimgray"> CÁC CƠ QUAN HỮU QUAN </strong>
    </div>
    <br />



    <div>
        @* chèn thêm các dữ liệu vô những chỗ có x ( good type ) *@
        <strong style="color: dimgray">
            Chúng tôi, CÔNG TY TNHH GIAO NHẬN VẬN TẢI PND trận trọng giao hàng cho :
        </strong>

    </div>
    <br />
    @* chèn thêm các dữ liệu vô những chỗ có x ( good type ) *@
    <div style="text-align:center; color: black">
        @Model.CNEE
    </div>
    <br />
    <div>
        <strong style="color: dimgray">Nhận lô hàng với những chi tiết sau : </strong>
    </div>
    <br />
    <div class="left-right">
        <div class="left">

            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div><strong style="color: dimgray">Vận đơn chính(MB/L No)</strong><span style="color:black">    @Model.MBL  </span></div>
            <br />
            <div><strong style="color: dimgray">Tên tàu (Vessel):</strong><span style="color:black">    @Model.Vessel   </span></div>
            <br />
            <div><strong style="color: dimgray">Cảng xếp hàng (POL):</strong><span style="color:black">    @Model.POL   </span></div>
            <br />
            <div><strong style="color: dimgray">Cập cảng ngày (Arrive on):</strong><span style="color:black">    @Model.ArriveOn.ToString("dd/MM/yyyy")    </span></div>

        </div>
        <div class="right">

            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div><strong style="color: dimgray">Vận đơn phụ (HB/L No)</strong><span style="color:black">    @Model.HBL   </span></div>
            <br />
            <div><strong style="color: dimgray">Tên chuyến (Voyage):</strong><span style="color:black">    @Model.Voyage   </span></div>
            <br />
            <div><strong style="color: dimgray">Cảng dỡ hàng (POD):</strong><span style="color:black">    @Model.POD   </span></div>
            <br />
            <div><strong style="color: dimgray">Địa điểm nhận hàng (P.O.Delivery):</strong><span style="color:black">    @Model.Podel   </span></div>
        </div>
    </div>


    <div class="center">
        <table>
            <thead>
                <tr style="color: dimgray">
                    <th>Số container</th>
                    <th>Số chì (Seal No)</th>
                    <th>Loạt cont </th>
                    <th>Số kiện</th>
                    <th>Trọng lượng(KGS)</th>
                    <th>Số khối (CBM)</th>
                </tr>
            </thead>
            <tbody style="color:black">

            


                @foreach (var item in Model.conths)
                {
                    total_GW += (double) item.GrossWeight;
                    total_CBM += (double) item.Cmb;
                    string GoodQuantiy = item.GoodsQuantity == null ? "" : item.GoodsQuantity.ToString() + " " + item.GoodsKind ?? "";

                    <tr>
                        <td>@item.ContNo</td>
                        <td>@item.SealNo</td>
                        <td>@item.ContType</td>
                        <td>@GoodQuantiy</td>
                        <td>@item.GrossWeight</td>
                        <td>@item.Cmb</td>
                    </tr>
               
               
             
                }
            </tbody>
            <tfoot>
              
                <tr style="color: dimgray">
                    <td colspan="4" class="text-right bold">Tổng cộng:</td>
                    <td class="bold">@total_GW</td>
                    <td class="bold">@total_CBM</td>
                </tr>
            </tfoot>
        </table>
    </div>


    <br />
    <br />
    @* chèn thêm các dữ liệu vô những chỗ có x  *@
    <div>
        @formattedToday
    </div>
</body>


</html>
