@model PND_WEB.ViewModels.HblJobViewModel

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "About job", SubTitle = "About job" })
<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About job: @Model.Job_Id</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Job" asp-action="Details" asp-route-id=@Model.Job_Id>Chi tiết job</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active">List HBL</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Phân quyền job</a>
                        </li>
                       
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <p>
                            <a asp-action="Create" asp-route-id=@Model.Job_Id class="btn btn-primary btn-xs">Create New</a>
                        </p>
                        <table class="table table-striped my-4 w-100" id="datatable3">
                            <thead class="table-primary">
                                <tr>
                                    <th>HBL</th>
                                    <th> Shipper</th>
                                    <th> Cnee</th>
                                    <th> Notify Party</th>
                                    <th> Bl Type</th>
                                    <th> Nom Free</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Hbls)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Hbl)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShipperNavigation.Shipper)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CneeNavigation.Cnee)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NotifyParty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BlType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomFree)
                                        </td>   
   
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Hbl">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Hbl">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Hbl">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>

