@model PND_WEB.Models.TblHscode
@using System.Text;
@{
    ViewData["Title"] = "Details";
}
@await Component.InvokeAsync("HeaderBody", new { Title = "Chi tiết HSCODE", SubTitle = "Chi tiết HSCODE" })
@functions {
    public static string XuLyNoiDung(string input)
    {
        if (string.IsNullOrWhiteSpace(input)) return "";

        var sb = new StringBuilder();
        sb.AppendLine("<table class='table table-bordered'>");
        sb.AppendLine("<thead><tr><th style='width: 100px;'></th><th>Mô tả</th></tr></thead>");
        sb.AppendLine("<tbody>");

        var lines = input.Replace("\r\n", "\n").Replace("\r", "\n").Split('\n');
        string lastHsCode = "";

        foreach (var line in lines)
        {
            var part = line.Trim();
            if (string.IsNullOrEmpty(part)) continue;

            // Nếu dòng chỉ toàn số và độ dài hợp lệ, coi là mã HS mới
            if (part.All(char.IsDigit) && part.Length >= 4 && part.Length <= 10)
            {
                lastHsCode = part;
                continue;
            }

            // Nếu dòng bắt đầu bằng mã HS (có số đầu dòng), tách mã HS và mô tả
            var match = System.Text.RegularExpressions.Regex.Match(part, @"^(\d{4,10})\s*[:\-]?\s*(.+)$");
            if (match.Success)
            {
                lastHsCode = match.Groups[1].Value;
                var desc = match.Groups[2].Value.TrimStart(':', '-', ' ');
                sb.AppendLine($"<tr><td style='width: 100px;'>{lastHsCode}</td><td>{desc}</td></tr>");
                lastHsCode = "";
                continue;
            }

            // Nếu có mã HS trước đó, gán cho dòng này
            var desc2 = part.TrimStart(':', '-', ' ');
            sb.AppendLine($"<tr><td style='width: 100px;'>{lastHsCode}</td><td>{desc2}</td></tr>");
            lastHsCode = "";
        }

        sb.AppendLine("</tbody></table>");
        return sb.ToString();
    }
}



<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">DETAILS HSCODE</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HsCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HsCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MoTaHangHoaV)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(XuLyNoiDung(Model.MoTaHangHoaV))
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MoTaHangHoaE)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(XuLyNoiDung(Model.MoTaHangHoaE))
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DonViTinh)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DonViTinh)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThueNkTt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThueNkTt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThueNkUd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThueNkUd)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThueVat)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThueVat)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Acfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Acfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Atiga)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Atiga)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ajcep)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ajcep)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vjepa)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vjepa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Akfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Akfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Aanzfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Aanzfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Aifta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Aifta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vkfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vkfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vcfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vcfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.VnEaeu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.VnEaeu)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cptpp)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cptpp)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ahkfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ahkfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vncu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vncu)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Evfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Evfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ukvfta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ukvfta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.VnLao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.VnLao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptA)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptA)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptB)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptB)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptD)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptD)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptE)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptE)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RceptF)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RceptF)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ttdb)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ttdb)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Xk)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Xk)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Xkcptpp)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Xkcptpp)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Xkev)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Xkev)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Xkukv)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Xkukv)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThueBvmt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThueBvmt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ChinhSachHangHoa)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ChinhSachHangHoa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GiamVat)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GiamVat)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ChiTietGiamVat)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ChiTietGiamVat)
                    </dd>
                    @* <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.MoTaKhongDau)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.MoTaKhongDau)
                    </dd> *@
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GhiChu)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GhiChu)
                    </dd>
                    @*  <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.GhiChuKhongDau)
                    </dt> *@
                    @* <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.GhiChuKhongDau)
                    </dd> *@
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success btn-xs">Edit</a>
                    <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
