@model IEnumerable<PND_WEB.Models.Quotation>
@{
    ViewData["Title"] = "Index";
}
@await Component.InvokeAsync("HeaderBody", new { Title = "Quotations", SubTitle = "Danh sách báo giá" })

<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="AdminViewCreate" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuotationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qsatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StaffName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Term)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Commodity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pod)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Quotations" asp-action="AdminViewEdit" asp-route-id="@item.QuotationId" class="btn btn-success btn-xs">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a asp-action="AdminViewDelete" asp-route-id="@item.QuotationId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                            <a asp-action="AdminViewExportPDFQuotations" asp-route-id="@item.QuotationId" class="btn btn-info btn-xs" target="_blank">
                                <i class="fa fa-print"></i>
                            </a>

                        </td>
                        <td>
                                <a asp-action="AdminViewDetails" asp-route-id="@item.QuotationId">@Html.DisplayFor(modelItem => item.QuotationId)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qsatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Term)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commodity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adds)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pod)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>