@model PND_WEB.Models.Quotation

@{
    ViewData["Title"] = "Create";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Tạo mới báo giá", SubTitle = "Tạo mới báo giá" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home", Action="Index", Parameter="" },
    new BreadcrumbItem { Title = "Danh sách báo giá", Controller="Quotations", Action="Index", Parameter="" },
    new BreadcrumbItem { Title = "Tạo mới báo giá", Controller="", Action="", Parameter="" }
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header"><b>CREATE QUOTATIONS</b></div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label asp-for="QuotationId" class="control-label"></label>
                            <input asp-for="QuotationId" class="form-control" readonly />
                            <span asp-validation-for="QuotationId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Qsatus" class="control-label"></label>
                            <input asp-for="Qsatus" class="form-control" readonly />
                            <span asp-validation-for="Qsatus" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="StaffName" class="control-label"></label>
                            <input asp-for="StaffName" class="form-control" readonly />
                            <span asp-validation-for="StaffName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Contact" class="control-label"></label>
                            <input asp-for="Contact" class="form-control"  />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label asp-for="Qdate" class="control-label"></label>
                            <input asp-for="Qdate" type="date" class="form-control" readonly value="@Model.Qdate?.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="Qdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <div id="autocomplete-wrapper" style="position: relative;">
                                <label asp-for="CusTo"  class="control-label"></label>
                                <select asp-for="CusTo" class="form-control select2-not-tag" data-url="@Url.Action("CustomerGet", "Quotations")">
                                </select>
                                <span asp-validation-for="CusTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="CusContact" class="control-label"></label>
                            <input asp-for="CusContact" id="cuscontact" class="form-control" />
                            <span asp-validation-for="CusContact" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Valid" class="control-label"></label>
                            <input asp-for="Valid" type="date" class="form-control" value="@Model.Valid?.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="Valid" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="Term" class="control-label"></label>
                            <input asp-for="Term" class="form-control" />
                            <span asp-validation-for="Term" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Vol" class="control-label"></label>
                            <input asp-for="Vol" class="form-control" />
                            <span asp-validation-for="Vol" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Commodity" class="control-label"></label>
                            <input asp-for="Commodity" class="form-control" />
                            <span asp-validation-for="Commodity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <div style="position: relative;">
                                <label asp-for="Pol"  class="control-label"></label>
                                <select asp-for="Pol" class="form-control select2-not-tag" data-url="@Url.Action("PortGet", "Quotations")">
                                </select>
                                <span asp-validation-for="Pol" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <div style="position: relative;">
                                <label asp-for="Adds" class="control-label"></label>
                                <select asp-for="Adds" class="form-control select2-not-tag" data-url="@Url.Action("PortGet", "Quotations")">
                                </select>
                                <span asp-validation-for="Adds" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <div style="position: relative;">
                                <label asp-for="Pod" class="control-label"></label>
                                <select asp-for="Pod" class="form-control select2-not-tag" data-url="@Url.Action("PortGet", "Quotations")">
                                </select>
                                <span asp-validation-for="Pod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-xs" />
                            <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/components/SelectList.js"></script>
}