@model PND_WEB.Models.Quotation

@{
    ViewData["Title"] = "Edit";
}

@{
    bool isReadOnly = Model.Qsatus == "Hoàn thành" || Model.Qsatus == "Đã hủy";
}

@{
    var staffNameAttr = isReadOnly
        ? new Dictionary<string, object> { { "class", "form-control" }, { "readonly", "readonly" } }
        : new Dictionary<string, object> { { "class", "form-control" } };
}

<h1>Edit</h1>

<h4>Quotation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuotationId" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Qsatus" class="control-label"></label>
                    @if (isReadOnly)
                    {
                        @Html.DropDownListFor(model => model.Qsatus, (IEnumerable<SelectListItem>)ViewBag.QsatusList,
                                 new { @class = "form-control", disabled = "disabled" })
                        @Html.HiddenFor(model => model.Qsatus)
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Qsatus, (IEnumerable<SelectListItem>)ViewBag.QsatusList,
                                 new { @class = "form-control" })
                    }
                </div>
                <span asp-validation-for="Qsatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffName" class="control-label"></label>
                @Html.TextBoxFor(model => model.StaffName, staffNameAttr)
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                @Html.TextBoxFor(model => model.Contact, staffNameAttr)
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qdate" class="control-label"></label>
                @Html.TextBoxFor(model => model.Qdate, staffNameAttr)
                <span asp-validation-for="Qdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusTo" class="control-label"></label>
                @Html.TextBoxFor(model => model.CusTo, staffNameAttr)
                <span asp-validation-for="CusTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusContact" class="control-label"></label>
                @Html.TextBoxFor(model => model.CusContact, staffNameAttr)
                <span asp-validation-for="CusContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valid" class="control-label"></label>
                @Html.TextBoxFor(model => model.Valid, staffNameAttr)
                <span asp-validation-for="Valid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                @Html.TextBoxFor(model => model.Term, staffNameAttr)
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vol" class="control-label"></label>
                @Html.TextBoxFor(model => model.Vol, staffNameAttr)
                <span asp-validation-for="Vol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commodity" class="control-label"></label>
                @Html.TextBoxFor(model => model.Commodity, staffNameAttr)
                <span asp-validation-for="Commodity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pol" class="control-label"></label>
                @Html.TextBoxFor(model => model.Pol, staffNameAttr)
                <span asp-validation-for="Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adds" class="control-label"></label>
                @Html.TextBoxFor(model => model.Adds, staffNameAttr)
                <span asp-validation-for="Adds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pod" class="control-label"></label>
                @Html.TextBoxFor(model => model.Pod, staffNameAttr)
                <span asp-validation-for="Pod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
