    @model IEnumerable<PND_WEB.Models.Quotation>
@{
    ViewData["Title"] = "Index";
}
@await Component.InvokeAsync("HeaderBody", new { Title = "Quotations", SubTitle = "Danh sách báo giá" })

<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuotationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qsatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StaffName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valid)
                    </th>
                </tr>
            </thead>
                <tbody>
            @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.QuotationId" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.QuotationId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                            <a asp-action="ExportPDFQuotation" asp-route-id="@item.QuotationId" class="btn btn-info btn-xs" target="_blank">
                                <i class="fa fa-print"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="DetailsCharges" asp-route-id="@item.QuotationId">@Html.DisplayFor(modelItem => item.QuotationId)</a>  
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qsatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valid)
                        </td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>