@model IEnumerable<PND_WEB.Models.TblShipper>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Shipper", SubTitle = "Danh sách Shipper " })


<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table nowrap border" id="datatable1">
            <thead class="bg bg-secondary">
                <tr>
                    <th>Action</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shipper)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Saddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Scity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpersonInCharge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TaxId)
                    </th>
                </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) {
                 <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Shipper" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Shipper" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shipper)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Scity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpersonInCharge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxId)
                        </td>
            
        </tr>
}
    </tbody>

</div>
</div>





