@using PND_WEB.ViewModels
@model PND_WEB.Models.TblBookingConfirm

@{
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Chi tiết thông tin Booking", SubTitle = "Chi tiết thông tin Booking" })

<div class="card card-default">
    <div class="card-header bg-success">Thông tin Booking:</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="border-bottom" style="background-color: lightgreen;">Basic info</h5>
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BookingId)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.BookingId)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Status)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StaffName)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.StaffName)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Contact)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Contact)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CustomerId)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomerId)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PICcompany)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PICcompany)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedDate)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UpdatedDate)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.UpdatedDate)</dd>
                </dl>

                <h5 class="border-bottom mt-4" style="background-color: lightgreen;">Shipping info</h5>
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Shipper)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Shipper)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CNEE)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CNEE)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.POL)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.POL)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.POD)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.POD)</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h5 class="border-bottom" style="background-color: lightgreen;">Commodity info</h5>
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GoodType)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.GoodType)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.QuotationId)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.QuotationId)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ETD)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ETD)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ETA)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ETA)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.VesselName)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.VesselName)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Airline)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Airline)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ContainerType)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ContainerType)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ContainerQuantity)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ContainerQuantity)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FlightNumber)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.FlightNumber)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PackageQuantity)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PackageQuantity)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GrossWeight)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.GrossWeight)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ChargeableWeight)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ChargeableWeight)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Volume)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Volume)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CargoDescription)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CargoDescription)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Remarks)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Remarks)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.BookingId" class="btn btn-success btn-xs">Edit</a>
    <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
</div>