@model (float TotalBuyUSD, float TotalSellUSD, float ProfitUSD, float TotalBuyVND, float TotalSellVND, float ProfitVND)

<div class="card card-default" id="cardDemo14">
    <div class="card-header bg-success">Profit House Bill</div>
    <div class="card-body">

        <table class="table table-sm table-bordered border">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>USD</th>
                    <th>VND</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-primary">
                    <td>Total Buy</td>
                    <td>@Model.TotalBuyUSD.ToString("N2")</td>
                    <td>@Model.TotalBuyVND.ToString("N2")</td>
                </tr>
                <tr class="text-danger">
                    <td>Total Sell</td>
                    <td>@Model.TotalSellUSD.ToString("N2")</td>
                    <td>@Model.TotalSellVND.ToString("N2")</td>
                </tr>
                <tr class="text-success fw-bold">
                    <td>Profit</td>
                    <td>@Model.ProfitUSD.ToString("N2")</td>
                    <td>@Model.ProfitVND.ToString("N2")</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>