@using PND_WEB.ViewModels

@model DebitNoteExport

@{
    Layout = null;
    var id = 0;
    DateTime today = DateTime.Now;
    string formattedToday = today.ToString("dddd, MMMM dd, yyyy ");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin: 30px;
        }

        .center {
        width: 100%;
        clear: both;
        margin-top: 20px;
        }

        table {
        width: 100%;
        border-collapse: collapse;
        }

        th, td {
        border: 1px solid #000;
        padding: 6px;
        text-align: center;
        }

        .text-right {
        text-align: right;
        }

        .bold {
        font-weight: bold;
        }

        .left-right {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        }

        .left {
        width: 50%;
        float: left;
        }

        .right {
        width: 50%;
        float: right;
        }

        .left2 {
        width: 30%;
        float: left;
        }

        .right2 {
        width: 70%;
        float: right;
        }

        .left3 {
        width: 70%;
        float: left;
        }

        .right3 {
        width: 30%;
        float: right;
        }
    </style>
</head>
<body>
    <div class="left-right">
        <div class="left2">

            @* ảnh chưa đc chuẩn tại chỗ này chưa bt để kiểu gì (k dùng đc link ảo có ~)*@
            <img src="https://localhost:7290/app/img/logo-pnd-export-pdf.jpg" />
        </div>
        <div class="right2">
            <p><strong>PND LOGISTICS TRANSPORT CO., LTD - HAI PHONG HEAD OFFICE</strong></p>
            <strong>Add:</strong> No 24A, Area 15, Dang Hai Ward, Hai An District, Hai Phong City, Vietnam
            <strong>Tel:</strong> +84 225 7303388 <strong>Email:</strong><span style="color: green;"> ceo@pnd-logistics.com</span><br>
            <strong>Website</strong> <span style="color: green;"> http://pnd-logistics.com</span>
            <hr style="border: 3px solid lawngreen" />
        </div>
    </div>


    <div style="text-align:center;">
        <h1 style="margin: 0; padding : 0; color: dimgray">DEBIT NOTE</h1>

        @* chèn thêm các dữ liệu vô những chỗ có x ( good type ) *@
        <h2 style="margin: 3px; padding : 3px">   @Model.JobType  </h2>
        <div class="right" style="color: dimgray; font-size: 24px"> @formattedToday     </div>
    </div>
    <br />

    <div class="left-right">
        <div class="left">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>
                <strong style="color: gray;">Job No:</strong> <span style="color: black;">    @Model.JobId   </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">Consignee:</strong> <span style="color: black;">   @Model.Cnee  </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">MBL:</strong> <span style="color: black;">    @Model.Cnee  </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">HBL:</strong> <span style="color: black;">    @Model.HBL  </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">Vessel/Voy:</strong> <span style="color: black;"> @Model.Transport   </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">ETA:</strong> <span style="color: black;">    @Model.ETA.ToString("dd/MM/yyyy")  </span>
            </div>
        </div>
        <div class="right">
           
            <div>
                <strong style="color: gray;">Quantity:</strong> <span style="color: black;">    @Model.Quantity  </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">G.W(KGS):</strong> <span style="color: black;">    @Model.GrossWeight  </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">G.W(CBM):</strong> <span style="color: black;">    @Model.CBM   </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">POL:</strong> <span style="color: black;">   @Model.POL </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">POD:</strong> <span style="color: black;">    @Model.POD   </span>
            </div>
            <br />
            <div>
                <strong style="color: gray;">PO.Delivery:</strong> <span style="color: black;">   @Model.PODel   </span>
            </div>
        </div>
    </div>


    <br />
    <div style="text-align:right">
        <span style="background-color: lightgoldenrodyellow">TOTAL INVOICE (VND)</span>

        <input type="text" style="color: black; background-color: lightgoldenrodyellow" value="@Model.Total" />
    </div>

    <div class="center">
        <table>
            <thead>
                <tr style="background-color: #D1E9EF;">
                    <th>No</th>
                    <th>DESCRIPTION OF CHARGES</th>
                    <th>COST</th>
                    <th>CURRENCY</th>
                    <th>CURRENCY EXCHANGE</th>
                    <th>QUATITY</th>
                    <th>UNIT</th>
                    <th>VAR RATE (%)</th>
                    <th>AMOUNT</th>
                    <th>TOTAL AMOUNT(VND)</th>
                </tr>
            </thead>
            <tbody>

                @* chèn thêm các dữ liệu vô những chỗ có xanh lá  *@


                @foreach (var item in Model.Charges)
                {
                    ++id;

                <tr>
                   
                        <td>@id</td>
                        <td>@item.SerName</td>
                        <td>@item.SerPrice</td>
                        <td>@item.Currency</td>
                        <td>@item.ExchangeRate</td>
                        <td>@item.SerQuantity</td>
                        <td>@item.SerUnit</td>
                        <td>@item.SerVat</td>
                        <td>@item.MVat</td>
                        <td>@Model.Amount(item)</td>
              
                </tr>
                }
            </tbody>
          
        </table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div>
        <strong>Please payment :</strong>
    </div>
    <br />
    <div>
        ACCOUNT NAME : Công ty TNHH Giao Nhận Vận Tải PND<br>
        <br />
        BANK NAME    : Ngân hàng thương mại cổ phần Á Châu - PGD Trần Nguyên Hãn - CN Hải Phòng<br>
        <br />
        ACCOUNT NO   :<strong>109 1986 88 (VND)</strong> <br>
    </div>
    <br />
    <div>
        <div class="left3">
            NOTE: Currency exchange rate following Vietcombank
        </div>

        <div class="right3">
            <strong> PND LOGISTICS.,LTD</strong>
        </div>
    </div>

</body>
</html>
