@model IEnumerable<PND_WEB.Models.Cport>


@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Cảng", SubTitle = "Danh sách thông tin cảng" })





<div class="card">
   
    <div class="card-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100" id="datatable1">
            <thead class="bg bg-primary-light">
                <tr>
                    <th class="col-3 text-nowrap">
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th class="col-3 text-nowrap">
                        @Html.DisplayNameFor(model => model.PortName)
                    </th>
                    <th class="col-1 text-nowrap"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-3 text-nowrap">
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td class="col-3 text-nowrap">
                            @Html.DisplayFor(modelItem => item.PortName)
                        </td>
                        <td class="col-1 text-nowrap" style="text-align: right; padding-right: 20px">
                            <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
