
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách quyền", SubTitle = "Danh sách chứa các thông tin liên quan tới quyền" })


<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" model="@TempData["status"]" />
        <div class="mb-3">
            <a asp-action="CreateRole" class="btn btn-primary btn-xs">Create New</a>
            <a asp-action="ListUserRole" class="btn btn-primary btn-xs">Gán role cho user</a>
        </div>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th></th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Id)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="dropdown">
                                <div class="btn-group">
                                    <button class="btn btn-secondary" data-toggle="dropdown">Tùy chọn</button>
                                    <div class="dropdown-menu animated fadeIn" role="menu">
                                        <a class="dropdown-item" asp-action="EditRole" asp-route-id="@item.Id">Edit</a>
                                        <a class="dropdown-item" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                                        <a class="dropdown-item" asp-action="UpdateRoleClaims" asp-route-id="@item.Id">Update claim</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}