
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách quyền", SubTitle = "Danh sách chứa các thông tin liên quan tới quyền" })


<div class="card">
    <div class="card-body">

        <partial name="_StatusMessage" model="@TempData["status"]" />
        <p>
            <a asp-action="CreateRole">Create New</a>
        </p>
        <p>
            <a asp-action="ListUserRole">Gán role cho user</a>
        </p>
        <table class="table table-striped my-4 w-100" id="datatable3">
            <thead class="table-primary">
                <tr>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Id)</th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>



                    <th>Action</th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>

                   

                        <td>
                            <a asp-action="EditRole" asp-route-id="@item.Id">Edit</a> |
                            
                            <a asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



