@model PND_WEB.ViewModels.RoleClaimsViewModel



<div class="card">
    <div class="card-body">
        <p>
            <button id="save_data" class="btn btn-primary btn-xs">Save Data</button>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="kientable">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Claims[0].ClaimType)</th>

                    <th>
                        @Html.DisplayNameFor(model => model.Claims[0].ClaimValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Claims[0].Description)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Claims)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="claims_value"  
                            @(item.Selected ? "checked" : "") />
                        </td>
                        <td>
                            @item.ClaimType
                        </td>
                        <td>
                            @item.ClaimValue
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
    </div>
</div>


@section Scripts {
  
    <script>



        $(document).ready(function () {
           var table= $('#kientable').DataTable({
                "order": [[1, "asc"]],
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ]
            });



        $('#save_data').click(function () {
            var get_select_data = [];

            // Duyệt từng dòng bằng DataTables
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var rowNode = $(this.node());

                var isChecked = rowNode.find('input[type="checkbox"]').prop('checked');

               
                var data = this.data();

                var claim = {
                    ClaimId: "", 
                    ClaimType: data[1],      
                    ClaimValue: data[2],      
                    Description: data[3],      
                    Selected: isChecked       
                };

                get_select_data.push(claim);
            });

            var dataToSend = {
                RoleId: '@Model.RoleId',
                Claims: get_select_data
            };

            console.log(dataToSend);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveRoleClaims", "Role")',
                data: JSON.stringify(dataToSend),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert("Data saved successfully!");
                        location.reload(); // Reload the page to see the changes
                    } else {
                        alert("Error saving data.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while saving data.");
                }
            });
        });

         
        });
     
 
          



    </script>
}
