@model PND_WEB.Models.TblCnee

@{
    ViewData["Title"] = "Delete";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa CNEE", SubTitle = "Xóa thông tin người nhận hàng" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách CNEE", Controller="TblCnee",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Xóa CNEE", Controller="",Action="",Parameter="" }
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Xác nhận xóa CNEE</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cnee)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cnee)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Vcnee)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Vcnee)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Caddress)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Caddress)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Vaddress)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Vaddress)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Ccity)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Ccity)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CpersonInCharge)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CpersonInCharge)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.TaxId)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.TaxId)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Haddress)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Haddress)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Cnee" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
