@model IEnumerable<PND_WEB.Models.TblCnee>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Cnee", SubTitle = "Danh sách thông tin người nhận hàng" })

<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100" id="datatable3">
            <thead class="table-primary">
                <tr>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Cnee)</th>
                    <th class="col-3 text-nowrap">@Html.DisplayNameFor(model => model.Caddress)</th>
                    <th class="col-3 text-nowrap">@Html.DisplayNameFor(model => model.Ccity)</th>
                    <th class="col-1 text-nowrap"></th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Caddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ccity)
                        </td>
                        <td class="col-1 text-nowrap" style="text-align: right; padding-right: 20px ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Cnee">Sửa</a>
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Cnee">Chi tiết CNEE</a>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Cnee">Xóa</a>
                                    <a class="dropdown-item" asp-controller="TblCneeAdd" asp-action="Index" asp-route-id="@item.Cnee">Cập nhật thêm cho CNEE</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>







