@model IEnumerable<PND_WEB.Models.TblCnee>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách CNEE", SubTitle = "Danh sách thông tin người nhận hàng" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách CNEE", Controller="",Action="",Parameter="" }
})

<div class="card card-default">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Cnee)</th>
                    <th>@Html.DisplayNameFor(model => model.Caddress)</th>
                    <th>@Html.DisplayNameFor(model => model.Ccity)</th>
                    <th>@Html.DisplayNameFor(model => model.CpersonInCharge)</th>
                    <th>@Html.DisplayNameFor(model => model.TaxId)</th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Cnee" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Cnee" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Cnee"> @Html.DisplayFor(modelItem => item.Cnee) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Caddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ccity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CpersonInCharge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxId)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>