@model PND_WEB.Models.TblSupplier

@{
    ViewData["Title"] = "Delete";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa Supplier", SubTitle = "Xóa thông tin nhà cung cấp" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách Supplier", Controller="TblSupplier",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Xóa Supplier", Controller="",Action="",Parameter="" }
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Xác nhận xóa Supplier</div>
            <div class="card-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Bạn có chắc chắn muốn xóa Supplier này? Hành động này không thể hoàn tác.</p>
                </div>
                 <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SupplierId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SupplierId)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.NameSup)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.NameSup)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Typer)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Typer)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressSup)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.AddressSup)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.LccFee)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.LccFee)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
    
                <form asp-action="Delete">
                    <input type="hidden" asp-for="SupplierId" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
