@model IEnumerable<PND_WEB.Models.TblSupplier>

@{
    ViewData["Title"] = "Index";
}
@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Supplier", SubTitle = "Danh sách chứa các thông tin liên quan tới đơn vị nhà cung cấp" })

<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" model="@TempData["status"]" />
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameSup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Typer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddressSup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LccFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SupplierId" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.SupplierId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.SupplierId"> @Html.DisplayFor(modelItem => item.SupplierId) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameSup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Typer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressSup)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LccFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>