@model PND_WEB.Models.Mode

@{
    ViewData["Title"] = "Delete";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa MODE", SubTitle = "Xóa MODE" })

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">DELETE MODE</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                </dl>
                <form asp-action="Delete" asp-route-modeid="@Model.Code">
                    <input type="hidden" asp-for="Code" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
