@model IEnumerable<PND_WEB.Models.Mode>

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Mode", SubTitle = "Danh sách chứa các thông tin liên quan" })


<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Code)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>

             
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-modeid="@item.Code" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                 
                            <a asp-action="Delete" asp-route-modeid="@item.Code" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>