@model IEnumerable<PND_WEB.Models.Currency>


@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách Currencies", SubTitle = "Danh sách thông tin đơn vị tiền tệ" })

@if (TempData["Message"] != null)
{
    
    @await Component.InvokeAsync("Notification", new { Title = "Tạo thành công", status = true })
    TempData["Message"] = null;
}
<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" model="@TempData["status"]" />
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        <table class="table table-striped my-4 w-100 nowrap border" id="datatable3">
            <thead class="">
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
           
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>