@using PND_WEB.ViewModels


@* sửa theo model của ô để hiển thị những cái màu xanh

*@
@* @model QuotationsEditDeleteDetailController *@

@{
    Layout = null;
    // var quotation = Model.Quotation;
    // var charges = Model.QuotationsCharges;
    // float totalAmount = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: "Tahoma", sans-serif;
            font-size: 16px;
            margin: 30px;
        }

        .center {
            width: 100%;
            clear: both;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            padding: 6px;
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }
        .left-right{
            width: 100%;
            overflow: hidden;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .left{
            width: 50%;
            float: left;
        }

        .right{
            width: 50%;
            float: right;
        }

        .left2 {
            width: 30%;
            float: left;
        }

        .right2 {
            width: 70%;
            float: right;
        }

        .left3 {
            width: 70%;
            float: left;
        }

        .right3 {
            width: 30%;
            float: right;
        }

        .left4 {
            width: 25%;
            float: left;
        }

        .right4 {
            width: 25%;
            float: right;
        }
    </style>
</head>
<body>
    <div class="left-right">
        <div class="left2">

            @* ảnh chưa đc chuẩn tại chỗ này chưa bt để kiểu gì (k dùng đc link ảo có ~)*@
            <img src="https://localhost:7290/app/img/logo-pnd-export-pdf.jpg" />
        </div>
        <div class="right2">
            <p><strong>PND LOGISTICS TRANSPORT CO., LTD - HAI PHONG HEAD OFFICE</strong></p>
            <strong>ADD:</strong> No 24A, Area 15, Dang Hai Ward, Hai An District, Hai Phong City, Vietnam
            <strong>TEL:</strong> +84 225 7303388 EMAIL:  <span style="color: green;"> ceo@pnd-logistics.com</span><br>
            <strong>WEBSITE:</strong> <span style="color: green;"> http://pnd-logistics.com</span>
        </div>
    </div>


    <div style="text-align:center; color: dimgray">
        <h1>GIẤY BÀO HÀNG ĐẾN</h1>

        @* chèn thêm các dữ liệu vô những chỗ có x ( NGAY THANG NAM ) *@
        <h3>ARRIVAL NOTE</h3>
        <h3>(Thông báo lần)</h3>
        <div class="right">    x   </div>
    </div>
    <br />

    <div class="left-right">
        <div class="left2" style="color: dimgray">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div><strong>Job No:</strong></div><br />
            <div><strong>Kính gửi: (Bill to)</strong></div><br />
        </div>

        <div class="right2">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>    x  </div><br />
            <div>   x   </div><br />
        </div>

        <div class="left3" style="color: dimgray">
            <i>Chúng tôi xin trân trọng thông báo lô hàng của quý công ty thuộc vận đơn số:
                (We are pleased to inform you that your shipment under HAWB No.)
            </i><br />
        </div><br />
        <div class="right3">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>    x  </div><br />
        </div>
        <div class="left3">
            <br />
        </div>
        <div class="right3">
            <br />
        </div>
        <div class="left2" style="color: dimgray">
            <div><strong>Số vận đơn chính (MAWB):</strong></div><br />
            <div><strong>Người gửi (Shipper):</strong></div><br />
            <div><strong>Sân bay xếp hàng (A.P.O.L):</strong></div><br />
            <div><strong>Địa điểm nhận hàng (Pol of Delivery):</strong></div><br />
        </div>
        <div class="right2">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>    x  </div><br />
            <div>    x  </div><br />
            <div>    x  </div><br />
            <div>    x  </div><br /><br />
        </div>

        <div class="left4" style="color: dimgray">
            <div><strong>Chuyến bay (Flight):</strong></div><br />
        </div>
        <div class="left4">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>    x  </div><br />
        </div>
        <div class="left4" style="color: dimgray">
            <div><strong>Ngày hàng về (ETA):</strong></div><br />
        </div>
        <div class="right4">
            @* chèn thêm các dữ liệu vô những chỗ có x  *@
            <div>    x  </div><br />
        </div>
    </div>


    <div class="center">
        <table>
            <thead>
                <tr style="background-color: #D1E9EF; text-align: center; vertical-align: middle;">
                    <th>Mã ký hiệu</th>
                    <th>Số kiện <br>(No. of packages)</th>
                    <th>Mô tả hàng hóa<br>(Description of goods)</th>
                    <th>Trọng Lượng<br>(G.W/KGS)</th>
                    <th>Số khối<br>(M.W/CBM)</th>
                </tr>
            </thead>
            <tbody>

                @* chèn thêm các dữ liệu vô những chỗ có xanh lá  *@


                @* @foreach (var item in charges) *@
                {
                    @* float amount = (float)item.Quantity * (float)(item.Rate ?? 0); *@
                    @* totalAmount += amount; *@
                    @* <tr> *@
                    @*     <td>@item.ChargeName</td> *@
                    @*     <td>@item.Currency</td> *@
                    @*     <td>@item.Unit</td> *@
                    @*     <td class="text-right">@item.Quantity</td> *@
                    @*     <td class="text-right">@item.Rate?.ToString("N2")</td> *@
                    @*     <td class="text-right">@amount.ToString("N2")</td> *@
                    @*     <td>@item.Notes</td> *@
                    @* </tr> *@
                }
            </tbody>
            <tfoot>
                @* <tr> *@
                @*     <td colspan="5" class="text-right bold"><center>TOTAL</center></td> *@
                @*     <td class="text-right bold">@totalAmount.ToString("N2")</td> *@
                @*     <td></td> *@
                @* </tr> *@
            </tfoot>
        </table>
    </div>
    <br />
    <br />
    <div style="color: dimgray"><strong><u>To take D/O, Pls bring the following documents:</u></strong></div>
    <br />

    <div class="left4" style="color: dimgray">
        <div><strong>Loại B/L:</strong></div><br />
    </div>
    <div class="left4">
        @* chèn thêm các dữ liệu vô những chỗ có x  *@
        <div>    x  </div><br />
    </div>
    <div class="left4" style="color: dimgray">
        <div><strong>Notice of Arrival:</strong></div><br />
    </div>
    <div class="right4">
        @* chèn thêm các dữ liệu vô những chỗ có x  *@
        <div>    x  </div><br />
    </div>

    <div class="left3" style="color: dimgray">
        <div><strong>Recommendation Letter</strong></div><br />
    </div>
    <br />
    <div class="right3">
        @* chèn thêm các dữ liệu vô những chỗ có x  *@
        <div>    x  </div><br />
    </div>

    <div style="color: dimgray"><strong>Xin Quý công ty lưu ý:</strong></div>
    <br />
    <div style="color: dimgray">
        1. Địa chỉ liên hệ tại Hải Phòng :  Số 24A, Tổ Dân Phố 15, Phường Đằng Hải, Quận Hải An, TP Hải Phòng / Ms Tươi :
        0336300299<br>
        2. Công ty chúng tôi nhận làm mọi thủ tục Hải Quan, giao nhận và vận chuyển với giá tốt và ưu đãi.<br>
        3. Tất cả các phí trên chưa bao gồm thuế VAT.<br>
        4. Xin vui lòng xác nhận khi nhận được thông báo hàng đến (Email: cus.hpg@pnd-logistics.com  ovs@pnd-logistics.com)<br>
    </div>
</body>
</html>
