@model IEnumerable<PND_WEB.Models.Mode>

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách", SubTitle = "Danh sách chứa các thông tin liên quan" })


<div class="card">
    <div class="card-body">
      
        <p>
            <button id="save" class="btn btn-primary btn-xs">Lưu dữ liệu</button>
         
        </p>
        
        <table class="table table-striped my-4 w-100 nowrap border" id="kientable">
            <thead class="">
                <tr>
                    <th class="col-1"> <button class="btn btn-success btn-xs" id="add_row"><i class="fa fa-plus-square-o"></i></button></th>
                    <th data-priority="1">@Html.DisplayNameFor(model => model.Code)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>

                    @* <th class="sort-numeric">Engine version</th> *@
                    @* <th class="sort-alpha" data-priority="2">CSS grade</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <button class="btn btn-warning btn-xs" id="edit_value"><i class="fa fa-edit"></i></button>
                           
                            <button class="btn btn-danger btn-xs" id="delete_value"><i class="fa fa-trash"></i></button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }
               
                

            </tbody>
        </table>
    </div>
</div>
@Html.AntiForgeryToken()
@section Scripts {
   <script>
        $(document).ready(function () {
            var table=$('#kientable').DataTable({
                "order": [[1, "asc"]], // Sắp xếp theo cột thứ 2 (index 1)
                "columnDefs": [
                    { "orderable": false, "targets": 0 } // Không cho phép sắp xếp cột đầu tiên
                ],
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "zeroRecords": "Không tìm thấy bản ghi nào",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ bản ghi",
                    "infoEmpty": "Không có bản ghi nào",
                    "infoFiltered": "(được lọc từ _MAX_ tổng số bản ghi)",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu tiên",
                        "last": "Cuối cùng",
                        "next": "Tiếp theo",
                        "previous": "Trước"
                    }
                }
                

            });

            var token = $('input[name="__RequestVerificationToken"]').val();
            //detele row select
            $('#kientable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            //delete row
            $('#delete_row').click(function () {
                var row = table.row('.selected'); // Get the selected row
                if (row.length) {
                    row.remove().draw(); // Remove the row and redraw the table
                } else {
                    alert('Please select a row to delete.');
                }
            });

            // save database
            $('#save').click(function () {
            var tableData = table.rows().data().toArray();

            var dataToSend = tableData.map(row => {
                return {
                    Code: row[1], // Cột 1: Code
                    Note: row[2]  // Cột 2: Note
                };
            });

            console.log("Data gửi lên:", dataToSend); // Kiểm tra trước khi gửi

                $.ajax({
                     url: '@Url.Action("SaveData", "Home")',
                     type: 'POST',
                     contentType: 'application/json',
                     headers: {
                        'RequestVerificationToken': token // Gửi token CSRF
                     },
                     data: JSON.stringify(dataToSend),
                     success: function (response) {
                        alert('Data saved successfully!');
                     },
                     error: function (xhr, status, error) {
                         alert('Error saving data: ' + error);
                      }
                });
            });
            // get new row
            $('#add_row').click(function () {
                var newRow = table.row.add([
                    '<button class="btn btn-primary btn-xs" id="add_value" ><i class="fa fa-check-square-o"></i></button>',
                    '<input type="text" class="form-control" placeholder="Code">',
                    '<input type="text" class="form-control" placeholder="Note">'
                ]).draw().node();
             
            });
            // add new row 
            $('#kientable tbody').on('click', '#add_value', function () {
                var row = $(this).closest('tr');
                var code = row.find('input').eq(0).val();
                var note = row.find('input').eq(1).val();
                if (code) {
                    table.row(row).data([
                        '<button class="btn btn-warning btn-xs" id="edit_value"><i class="fa fa-edit"></i></button>' +
                        '<button class="btn btn-danger btn-xs" id="delete_value"><i class="fa fa-trash"></i></button>',
                        code,
                        note
                    ]).draw();
                } else {
                    alert('Please fill in all fields.');
                }
            });
            // edit row format like add row and change button edit and buttton delete by button save
            $('#kientable tbody').on('click', '#edit_value', function () {

                var row = $(this).closest('tr');
                var code = row.find('td').eq(1).text();
                var note = row.find('td').eq(2).text();
                table.row(row).data([
                    '<button class="btn btn-primary btn-xs" id="save_value_edit"><i class="fa fa-check-square-o"></i></button>',
                    '<input type="text" class="form-control" value="' + code + '">',
                    '<input type="text" class="form-control" value="' + note + '">'
                ]).draw();

            });

            // save row edit
            $('#kientable tbody').on('click', '#save_value_edit', function () {
                var row = $(this).closest('tr');
                var code = row.find('input').eq(0).val();
                var note = row.find('input').eq(1).val();
                if (code) {
                    table.row(row).data([
                        '<button class="btn btn-warning btn-xs" id="edit_value"><i class="fa fa-edit"></i></button>' +' '+
                        '<button class="btn btn-danger btn-xs" id="delete_value"><i class="fa fa-trash"></i></button>',
                        code,
                        note
                    ]).draw();
                } else {
                    alert('Please fill in all fields.');
                }
            });

         


          
            // delete row
            $('#kientable tbody').on('click', '#delete_value', function () {
                var row = $(this).closest('tr');
          
                table.row(row).remove().draw();
            });

         
          

            
            
        });
   </script>
}
