@model PND_WEB.ViewModels.JobUserEditModel

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa người phụ trách", SubTitle = "Xóa người phụ trách" })



<div class="row">
    <div class="col">
        <div class="card card-default">

            <div class="card-body">
                <h4>Are you sure you want to delete this?</h4>
                <div>
                    <h4>Agent</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Staff_Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Staff_Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                       
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="hidden" asp-for="Job_ID" value="@Model.Job_ID" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" /> |
                        <a asp-action="Index" class="btn btn-primary btn-xs" asp-route-id="@Model.Job_ID">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


