@model List<PND_WEB.ViewModels.JobUserViewModel>
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("JobDetailsHeader", new { Title = "Phân quyền job", SubTitle = "", Job_ID = ViewBag.JobId})

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách job", Controller="Job",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Chi tiết job", Controller="Job",Action="Details",Parameter=ViewBag.JobId },
    new BreadcrumbItem { Title = "Phân quyền job", Controller="",Action="",Parameter="" }
})

<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About job: @ViewBag.JobId</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    @await Component.InvokeAsync("JobNavTab", new { Job_ID = ViewBag.JobId, userName = User.Identity.Name })
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <p>
                            <a asp-action="Create" asp-route-id=@ViewBag.JobId class="btn btn-primary btn-xs">Create New</a>
                        </p>
                        <table class="table table-striped border" id="datatable1">
                            <thead class="">
                                <tr>
                                    <th>Action</th>
                                    <th>User Name</th>
                                    <th>Staff Name</th>
                                    <th>Role Name</th>
                                    <th>Description</th>
                                    <th>Create Date</th>

    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Staff_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
