@model PND_WEB.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Buy Invoice";
 
}
@await Component.InvokeAsync("HblHeader", new { Title = "Invoice", SubTitle = "Invoice", Hbl_ID = Model.HBL_ID })
<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About Container: @Model.HBL_ID</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Hbls" asp-action="Details" asp-route-id=@Model.HBL_ID>Chi tiết HBL</a>
                        </li>
                       
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Container" asp-action="Index" asp-route-id=@Model.HBL_ID>Container</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="BuyInvoice" asp-action="Index" asp-route-id=@Model.HBL_ID >Hóa đơn mua</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="SelInvoice" asp-action="Index" asp-route-id=@Model.HBL_ID>Hóa đơn bán</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link active">Cược công</a>
                        </li>


                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <p>
                            <a asp-action="Create" asp-route-id=@Model.HBL_ID class="btn btn-primary btn-xs">Create New</a>
                        </p>
                        <table class="table table-striped my-4 w-100" id="datatable1">
                            <thead class="table-primary">
                                <tr>

                                    <th>Action</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].DebitId)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].DebitDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].InvoiceNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].InvoiceDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].InvoiceType)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].SupplierId)</th>
                                    <th>@Html.DisplayNameFor(model => model.invoices[0].PaymentDate)</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.invoices)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.DebitId" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.DebitId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td> <a asp-action="Details" asp-route-id="@item.DebitId">@item.DebitId</a></td> 
                                        <td>@item.DebitDate</td>
                                        <td>@item.InvoiceNo</td>
                                        <td>@item.InvoiceDate</td>
                                        <td>@item.InvoiceType</td>
                                        <td>@item.SupplierId</td>
                                        <td>@item.PaymentDate</td>

                                    </tr>
                                }
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>