@using static PND_WEB.ViewComponents.BreadcrumbViewComponent
@model PND_WEB.Models.TblJob

@{
    ViewData["Title"] = "Delete Job";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Xóa job", SubTitle = "Xóa job" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách job", Controller="Job",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Xóa job", Controller="",Action="Delete",Parameter=""}
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Xác nhận xóa job</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>Bạn có chắc chắn muốn xóa job này? Hành động này không thể hoàn tác.</p>
                </div>
             
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="w-25">@Html.DisplayNameFor(model => model.JobId)</th>
                            <td>@Html.DisplayFor(model => model.JobId)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.GoodsType)</th>
                            <td>@Html.DisplayFor(model => model.GoodsType)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.JobDate)</th>
                            <td>@Html.DisplayFor(model => model.JobDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Mbl)</th>
                            <td>@Html.DisplayFor(model => model.Mbl)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.VesselName)</th>
                            <td>@Html.DisplayFor(model => model.VesselName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.VoyageName)</th>
                            <td>@Html.DisplayFor(model => model.VoyageName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Mode)</th>
                            <td>@Html.DisplayFor(model => model.Mode)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AgentNavigation)</th>
                            <td>@Html.DisplayFor(model => model.AgentNavigation.AgentName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CarrierNavigation)</th>
                            <td>@Html.DisplayFor(model => model.CarrierNavigation.CarrierName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Pol)</th>
                            <td>@Html.DisplayFor(model => model.Pol)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Pod)</th>
                            <td>@Html.DisplayFor(model => model.Pod)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Etd)</th>
                            <td>@Html.DisplayFor(model => model.Etd)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Eta)</th>
                            <td>@Html.DisplayFor(model => model.Eta)</td>
                        </tr>
                    </table>
                </div>

                <form asp-action="Delete" class="mt-4">
                    <input type="hidden" asp-for="JobId" />
                    <div>
                        <button type="submit" class="btn btn-labeled btn-danger btn-xs">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>
                            Delete
                        </button>
                        <a asp-action="Index" class="btn btn-labeled btn-secondary btn-xs">
                            <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
                            Back To List
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
