@model PND_WEB.Models.TblJob

@{
    ViewData["Title"] = "Details";
}
@await Component.InvokeAsync("HeaderBody", new { Title = "Chi tiết job", SubTitle = "Chi tiết job" })


<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-info">About job: @Model.JobId</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab">Chi tiết job</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" asp-controller="Hbls" asp-action="Index" asp-route-id=@Model.JobId>List HBL</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                        </li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.GoodsType)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.GoodsType)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.JobDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.JobDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Mbl)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Mbl)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IssueDateM)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IssueDateM)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.OnBoardDateM)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.OnBoardDateM)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.VesselName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.VesselName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.VoyageName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.VoyageName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Pol)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Pol)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Pod)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Pod)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Podel)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Podel)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Podis)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Podis)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PlaceofReceipt)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PlaceofReceipt)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PlaceofDelivery)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PlaceofDelivery)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PreCariageBy)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PreCariageBy)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Etd)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Etd)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Eta)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Eta)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Mode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Mode)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Ycompany)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Ycompany)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Link)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Link)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.YunLock)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.YunLock)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.UseTime)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.UseTime)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.AgentNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.AgentNavigation.Code)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CarrierNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CarrierNavigation.Code)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
                            <a asp-action="Index">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>
