@model PND_WEB.Models.TblJob

@{
    ViewData["Title"] = "Details";
}
@await Component.InvokeAsync("JobDetailsHeader", new { Title = "Chi tiết job", SubTitle = "Chi tiết job", Job_ID = Model.JobId })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách job", Controller="Job",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Chi tiết job", Controller="",Action="",Parameter=""}
})
<div class="row">
    <div class="col-xl-12">
        <div class="card card-default" id="cardDemo14">
            <div class="card-header bg-success">About job: @Model.JobId</div>
            <div class="card-body">
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    @await Component.InvokeAsync("JobNavTab", new { Job_ID = Model.JobId, userName = User.Identity.Name })
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="lead bb">Basic Information</p>
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Mode):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Mode)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.GoodsType):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.GoodsType)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.JobDate):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.JobDate)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Mbl):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Mbl)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.IssueDateM):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.IssueDateM)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.OnBoardDateM):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.OnBoardDateM)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.YunLock):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.YunLock)</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead bb">Routing Information</p>
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Pol):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Pol)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Pod):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Pod)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Podis):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Podis)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Podel):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Podel)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.PlaceofReceipt):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.PlaceofReceipt)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.PlaceofDelivery):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.PlaceofDelivery)</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="lead bb">Schedule Information</p>
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.VesselName):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.VesselName)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.VoyageName):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.VoyageName)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.PreCariageBy):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.PreCariageBy)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Etd):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Etd)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Eta):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Eta)</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead bb">Partner Information</p>
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.AgentNavigation):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.AgentNavigation.Code)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.CarrierNavigation):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.CarrierNavigation.Code)</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="lead bb">Additional Information</p>
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Ycompany):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Ycompany)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.Link):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.Link)</strong>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">@Html.DisplayNameFor(model => model.UseTime):</div>
                                            <div class="col-md-8">
                                                <strong>@Html.DisplayFor(model => model.UseTime)</strong>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="mt-3">
                                <a asp-action="Edit" asp-route-id="@Model?.JobId" class="btn btn-labeled btn-primary btn-xs">
                                    <span class="btn-label"><i class="fa fa-edit"></i></span>
                                    Edit
                                </a>
                                <a asp-action="Index" class="btn btn-labeled btn-secondary btn-xs">
                                    <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
