@model IEnumerable<PND_WEB.Models.TblJob>

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("HeaderBody", new { Title = "Danh sách job", SubTitle = "Danh sách job" })



<div class="card">
    <div class="card-body">
        <partial name="_StatusMessage" model="@TempData["status"]" />
        <p>
            <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
        </p>
        
        <table class="table nowrap border display" id="mytable" style="width:100%">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.JobId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoodsType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mbl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Etd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Eta)
                    </th>
                    <th>
                        Agent
                    </th>
                    <th>
                        Carrier
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YunLock)
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.JobId" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.JobId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                        </td>

                        <td>
                           <a asp-action = "Details" asp-route-id = "@item.JobId" > @Html.DisplayFor(modelItem => item.JobId) </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoodsType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mbl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Etd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Eta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgentNavigation.AgentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarrierNavigation.CarrierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YunLock)
                        </td>

                        
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>








